* body{
   background-image: url("/images/pokemon\ go.jpg");
    margins: 10%;
    padding: 10%;    
    
    
 }  */

.headerContainer{
    width: 100vw;
    height: 20vh;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: gold;
    width: vw;
    height: vh; 
    
    text-transform:uppercase;
    border-radius:50%;
    padding-bottom: 15px ; /*center object in middle of */
}    



.info{
    background-color: white;
    text-transform: capitalize;
    border: 3px solid black;
    border-radius: 15px;
    margin: 15px;
    opacity: 0.90;
    
}
