* body{
   background-image: url("/images/pokemon\ go2.jpg");
    margins: 10%;
    padding: 10%;  
      
    
    
 }  */

.headerContainer{
    width: 100vw;
    height: 20vh;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title{
    
    justify-content: center;
    text-align: center;
    background-color: gold;
    text-transform:uppercase;
    border-radius:45%;
    opacity: 0.80;
    border: 2px solid blue;
    padding-bottom: 10px ; /*center object in middle of */
}    



.info{
    background-color: white;
    text-transform: capitalize;
    border: 3px solid black;
    border-radius: 15px;
    margin: 15px;
    opacity: 0.70;
    font-size: large;
        
    
}

.bgColor{
    margin-left: 15px;
    font-size: medium;
}